* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
 }
 
body {
  overflow-x: hidden;
 }

 header {
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); 
}


 .title {
  width: 50vw;
  display: flex;
  align-items: center;
  padding-left: 30px;
 }

 .title p {
  font-size: 16;
  font-weight: bold;
 }

 .download {
  width: 50vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
 }

 .download button {
  width: 177px;
  height: 42px;
  background-color: #075985;
  border-radius: 34px;
  color: #fff;
  font-size: 12px;
  font-weight: 900;
  border: none;
  cursor: pointer;
 }

 main {
  width: 100vw;
  height: 500px;
  display: flex;
 }

 .apresentation {
  margin-top: 85px;
  width: 50%;
  height: 100%;
  padding-left: 138px;
 }

 .apresentation h1 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 24px;
 }

 .apresentation p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 38px;
 }

 .buttons {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
 }

 .buttons button:nth-child(1) {
  width: 180px;
  height: 42px;
  border-radius: 34px;
  border: none;
  background-color: #075985; 
  color: #ffffff; 
  font-size: 12px;
  font-weight: 900;
  margin-right: 56px;
  cursor: pointer;
}


.buttons button:nth-child(2) {
  width: 180px;
  height: 42px;
  border-radius: 34px;
  border: none;
  background-color: #575758; 
  color: #ffffff; 
  font-size: 12px;
  font-weight: 900;
  cursor: pointer;
}

span {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6)
}

.image-apresentation{
  margin-top: 20px;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-apresentation img {
  width: 500px;
  height: 500px;

}


.selling{
  width: 100vw;
  height: 505px;
  background-color: #F5F5F5;
  display: flex;
}

.img-selling{
  height: 100%;
  width: 50%;
  padding-left: 138px;
}

.explication-selling {
  display: flex;
  flex-direction: column;
}

.explication-selling p:nth-child(1) {
  margin-top: 88px;
  font-size: 20px;
  color: #075985;
  font-weight: bold;
  margin-bottom: 18px;
}

.explication-selling h1 {
  font-size: 24px;
  margin-bottom: 26px;
}

.explication-selling p:nth-child(2) {
  font-size: 20px;
  color: #000;
  font-weight: 500;
}

.explication-selling  button {
  margin-top: 28px;
  width: 269px;
  height: 42px;
  background-color: #fff;
  color: #075985;
  border-radius: 34px;
  border: 1px solid #075985;
  cursor: pointer;
}


.plans{
  height: 810px;
  width: 100vw;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.plans h1 {
  margin-top: 84px;
  font-size: 36px;
  font-weight: 900;
}

.card-plans {
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.free-plan{
  width: 366px;
  height: 522px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.free-plan-pricing {
  padding-left: 34px;
  padding-top: 28px;  
}

.free-plan-pricing h3 {
  font-size: 24px;
}

.free-plan-pricing p:nth-child(1) {
  font-size: 16px;
  font-weight: 500;
}

.free-plan-pricing h2 {
  margin-top: 29px;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 16px;
}


.free-plan-pricing button {
  width: 297px;
  height: 35px;
  color: #075985;
  font-size: 12px;
  font-weight: bold;
  background-color: #fff;
  border-radius: 34px;
  border: 1px solid #075985;
  cursor: pointer;
}


.free-plan-pricing p:nth-child(5) {
  margin-top: 20px;
  font-size: 10px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-bottom: 22px;
}

.free-plan-elements {
  border-top: 1px solid #D0CCCC;
  padding-left: 34px;
  padding-top: 24px;
}

.element-plan{
  display: flex;
  margin-bottom: 14px;
}


.element-plan img {
  margin-right: 12px;
}

.element-plan p {
 font-size: 12px;
 font-weight: 500;
}


.premium-plan{
  width: 366px;
  height: 522px;
  border-radius: 6px;
  border: 1px solid #368149;
}

.better-pricing {
  width: 100%;
  height: 24px;
  background-color: #368149;
  display: flex;
  align-items: center;
  justify-content: center;
}

.better-pricing p {
  font-size: 12px;
  color: #fff;
  font-weight: 900;
}


.premium-plan-pricing {
  padding-left: 34px;
  padding-top: 10px;  
}

.premium-plan-pricing h3 {
  font-size: 24px;
}

.premium-plan-pricing p:nth-child(1) {
  font-size: 16px;
  font-weight: 500;
}

.premium-plan-pricing h2 {
  margin-top: 29px;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 16px;
}


.premium-plan-pricing button {
  width: 297px;
  height: 35px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  background-color: #075985;
  border-radius: 34px;
  border: none;
  cursor: pointer;
}


.premium-plan-pricing p:nth-child(5) {
  margin-top: 15px;
  font-size: 10px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-bottom: 22px;
}


.premium-plan-elements {
  border-top: 1px solid #D0CCCC;
  padding-left: 34px;
  padding-top: 24px;
}


footer {
  width: 100vw;
  height: 200px;
  background-color: #075985;
  padding-left: 138px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

footer .email {
  display: flex;
}

footer .email img {
  margin-right: 10px;
}







